@{
    //ViewBag.Title = "Home Page";
    Layout = null;
}
<HTML>

<head>
    <title>EPedia - авторизация</title>
    <link rel="stylesheet" href="~/Content/index.css">
    <link rel="shortcut icon" href="~/Content/images/ico.png" type="image/png">
    <script src="~/Scripts/authorization.js" type="text/javascript"></script>
    <script src="~/Scripts/scrollToTop.js" type="text/javascript"></script>
    <script src="~/Scripts/loginFormShow.js" type="text/javascript"></script>
    <script src="~/Scripts/authorizationFormShow.js" type="text/javascript"></script>
</head>

<body>
    <div id="header">
        <div id="logo"><a href="index.html">EPedia</a></div>
        <div id="media">
            <a href="~/Home/search"><img src="~/Content/images/search.png"></a>
            <img src="~/Content/images/lk.png" onClick="AuthorizationRedirect()">
            <a href="https://vk.com/animalplanetrussia" target="_blank"><img src="~/Content/images/vk.png"></a>
            <a href="https://www.instagram.com/animalplanet/" target="_blank"><img src="~/Content/images/instagram.png"></a>
            <a href="https://ru-ru.facebook.com/AnimalPlanet" target="_blank"><img src="~/Content/images/facebook.png"></a>
            <a href="https://www.youtube.com/user/AnimalPlanetTV" target="_blank"><img src="~/Content/images/youtube.png"></a>
        </div>
    </div>
    <div class="container" id="content">
        <div class="container" id="nav">
            <div class="menu_item">
                <a href="index.html">Главная</a>
            </div>
            <div class="menu_item">
                <a href="">Звери</a>
                <ul class="submenu">
                    <li><a href="cat.html">Кошка</a></li>
                </ul>
            </div>
            <div class="menu_item">
                <a href="">Птицы</a>
                <ul class="submenu">
                    <li><a href="parrot.html">Попугай</a></li>
                </ul>
            </div>
            <div class="menu_item">
                <a href="">Рыбы</a>
                <ul class="submenu">
                    <li><a href="error.html">Подменю</a></li>
                </ul>
            </div>
            <div class="menu_item_right">
                <a href="">Растения</a>
                <ul class="submenu">
                    <li><a href="error.html">Подменю</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper" id="authorizationOrLogIn">
            <button onClick="loginFormShow()">Вход</button>
            <button onClick="authorizationFormShow()">Регистрация</button>
        </div>
        <div class="wrapper" id="authorization">
            <div class="headline">
                <p><b>Авторизация</b></p>
            </div>
            <div class="filler"></div>
            <div class="authorizationForm">
                <p>E-mail:</p>
                <div class="emailInput">
                    <input id="email" type="text" size="20">
                    <p id="emailErrorAuthorization">Некорректный адрес электронной почты</p>
                </div>
                <p>Пароль:</p>
                <div class="passwordInput">
                    <input id="password" type="text" size="20">
                    <p id="passwordErrorAuthorization">Некорректный пароль</p>
                </div>
                <p>Повторите пароль:</p>
                <div class="retryPasswordInput">
                    <input id="retryPassword" type="text" size="20">
                    <p id="retryPasswordErrorAuthorization">Пароли не совпадают</p>
                </div>
                <p>Имя:</p>
                <div class="nameInput">
                    <input id="name" type="text" size="20">
                    <p id="nameErrorAuthorization">Некорректное имя</p>
                </div>
                <p>Фамилия:</p>
                <div class="surnameInput">
                    <input id="surname" type="text" size="20">
                    <p id="surnameErrorAuthorization">Некорректная фамилия</p>
                </div>
                <button id="AuthorizeBtn" type="submit" onClick="Authorize()">Зарегистрироваться</button>
            </div>
        </div>
        <div class="wrapper" id="login">
            <div class="headline">
                <p><b>Вход</b></p>
            </div>
            <div class="filler"></div>
            <div class="loginForm">
                <p>E-mail:</p>
                <div class="emailInput">
                    <input id="email" type="text" size="20">
                    <p id="emailOrPasswordErrorLogin">Неверный адрес электронной почты или пароль</p>
                </div>
                <p>Пароль:</p>
                <div class="passwordInput">
                    <input id="password" type="text" size="20">
                </div>
                <button id="logInBtn" type="submit" onClick="LogIn()">Войти</button>
            </div>
        </div>
    </div>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <div class="container" id="footer">
    </div>
</body>

</HTML>
