<div class="bookmarks">
    <div class="bookmark" id="bookmark0">
        <img class="bookmarkImg" id="bookmarkImg0" onclick="goToImagePage(this)">
        <p class="bookmarkText" id="bookmarkText0"></p>
    </div>
    <div class="bookmark" id="bookmark1">
        <img class="bookmarkImg" id="bookmarkImg1" onclick="goToImagePage(this)">
        <p class="bookmarkText" id="bookmarkText1"></p>
    </div>
</div>